apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-config
  labels:
    app: {{ .Chart.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
data:
  MCP_SERVER_URL: {{ .Values.env.MCP_SERVER_URL | quote }}
  BETTER_AUTH_ISSUER: {{ .Values.env.BETTER_AUTH_ISSUER | quote }}
  BETTER_AUTH_JWKS_URL: {{ .Values.env.BETTER_AUTH_JWKS_URL | quote }}
